
:root {
    --background-color: #36393F;
    --code-background: #52565D;
    --text-color: white;
    --accent-color: #FF6262; 
}

* {
    transition:  translate .2s, rotate .2s, scale .1s;
}

body {
    margin: 0;
    background: var(--background-color);
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
    color: var(--text-color);
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80%;
    margin: 10% 10% 0;
    height: max-content;
    padding-bottom: 10%;
}

.code-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.results {
    width: 100%;
    height: max-content;
}

.results > div {
    border-radius: 8px; 
    margin: 10px 0;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    overflow: hidden;
    height: max-content;
    padding: 15px;
    background: var(--code-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

textarea {
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
    background: var(--code-background);
    resize: none;
    outline: none;
    width: 100%;
    overflow-y: auto;
    white-space: nowrap;
}

.compute {
    width: 30px;
    margin-left: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--code-background);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

table {
    border-spacing: 0;
    max-width: 50%;
}

td {
    margin: 0;
    padding: 8px 12px; 
    border: 1px solid white;
    text-align: center;
}

code {
    text-align: left;
    display: block;
    font-size: 14px;
    padding: 10px; 
    margin: 0 5px;
    background: var(--background-color);
    word-wrap: anywhere;
    user-select: text;
    border-radius: 5px; 
}

.options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 17px;
}

.options-table {
    width: 100%;
    max-width: 100%;
}

input {
    max-width: 120px;
    outline: none;
    border: none;
    background: var(--code-background);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
}

select {
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--code-background);
    color: var(--text-color);
}

.btn {
    padding: 12px 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    background: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.btn:hover {
    background: #FF4545; 
}

.shortcuts {
    display: flex;
    flex-wrap: wrap;
}

.shortcuts > div {
    font-size: 14px;
    padding: 8px;
    margin: 5px;
    background: var(--code-background);
    cursor: pointer;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.shortcuts > div:hover {
    scale: 1.1;
}

.github-icon {
    position: fixed;
    cursor: pointer;
    width: 64px;
    height: 64px;
    background-image: url("../assets/github-mark-white.png");
    background-size: 64px 64px;
    /* transition: transform 0.3s ease; */
}

.github-icon:hover {
    translate: 0 0 !important;
    rotate: 0deg !important;
    scale: 1.3;
}

.design-performance {
    position: absolute;
    top: 10px;
    font-size: 18px; 
    font-family: 'Calibri', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    letter-spacing: -1px;
    color: #FFA07A;
}
