* {
    transition: translate .2s;
}

body {
    margin: 0;
    background: #36393F;
    font-size: 20px;
    font-family: Calibri, serif;
    color: white;
    user-select: none;
}

.code-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.results > div {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    overflow: hidden;
    height: max-content;
    padding: 10px;
    background: #52565d;
}

.results {
    width: 100%;
    height: max-content;
}

.container {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    height: max-content;
    padding-bottom: 10%;
}

textarea {
    color: white;
    font-size: 20px;
    font-family: Calibri, serif;
    background: #52565d;
    resize: none;
    outline: none;
    width: 100%;
    overflow-y: auto;
    white-space: nowrap;
}

.compute {
    width: 20px;
    margin-left: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #52565d;
}

table {
    border-spacing: 0;
}

td {
    margin: 0;
    padding: 5px;
    border: 1px solid white;
    text-align: center;
}

code {
    text-align: left;
    display: block;
    font-size: 14px;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    background: #36393F;
    word-wrap: anywhere;
}

.options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 17px;
}

.options-table {
    width: 100%;
    max-width: 100%;
}

input {
    max-width: 110px;
    outline: none;
    border: none;
    background: #52565d;
    color: white;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #52565d;
    color: white;
}

.btn {
    font-family: monospace, serif;
    font-size: 16px;
    background: red;
    color: white;
    cursor: pointer;
}