* {
    letter-spacing: -1px;
    font-family: monospace, serif;
}

body {
    margin: 0;
    font-size: 20px;
}

.code-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.results > div {
    overflow: hidden;
    height: max-content;
}

.container {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    height: max-content;
    padding-bottom: 10%;
}

textarea {
    font-size: 16px;
    resize: none;
    outline: none;
    width: 100%;
    overflow-y: auto;
    white-space: nowrap;
}

.compute {
    width: 20px;
    margin-left: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

table {
    border-spacing: 0;
}

td {
    margin: 0;
    padding: 5px;
    text-align: center;
}

code {
    text-align: left;
    display: block;
    font-size: 14px;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: anywhere;
}

.options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 17px;
}

.options-table {
    width: 100%;
    max-width: 100%;
}

input {
    max-width: 110px;
}

.btn {
    width: max-content;
    font-size: 16px;
    background: red;
    color: white;
    cursor: pointer;
}

.shortcuts {
    display: flex;
    flex-wrap: wrap;
}

.shortcuts > div {
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
}

.github-icon {
    position: absolute;
    cursor: pointer;
    width: 64px;
    height: 64px;
    background-image: url("../assets/github-mark.png");
    background-size: 64px 64px;
    rotate: 0deg !important;
    translate: 0 0 !important;
}

.design-performance {
    position: absolute;
    top: 10px;
    font-size: 16px;
    left: 50%;
    translate: -50%;
    cursor: pointer;
}

.github-icon {
    opacity: 0;
}

.github-icons > .github-icon:first-child {
    opacity: 1;
}